<main>
  <section
    class="min-h-[90vh] flex flex-col-reverse md:flex-row items-center justify-center gap-6 text-center md:text-left px-6 py-12 mx-auto max-w-4xl"
  >
    <div class="md:flex-1 md:text-center">
      <h1
        class="text-4xl md:text-5xl font-extrabold text-gray-900 dark:text-orange-200"
      >
        Narciso Lobo
      </h1>
      <p class="mt-4 text-gray-700 dark:text-orange-100">
        Ciso codes. You could too.
      </p>
    </div>

    <div class="md:flex-1 md:text-center">
      <img
        src="/images/narciso-lobo.jpg"
        alt="Photo of me"
        class="w-40 h-40 md:w-72 md:h-72 rounded-full object-cover mx-auto"
      />
    </div>
  </section>
</main>
