---
// Top-level imports like CSS go here
import "@styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Ciso Codes — Narciso Lobo</title>
    <meta
      name="description"
      content="Narciso Lobo teaches code for good. Support the creation of an inclusive web development training program."
    />

    <!-- Open Graph (Facebook & others) -->
    <meta property="og:title" content="Ciso Codes — Narciso Lobo" />
    <meta
      property="og:description"
      content="Support the launch of an inclusive coding program built for underserved communities."
    />
    <meta
      property="og:image"
      content="https://www.cisocodes.com/images/og-preview.jpg"
    />
    <meta property="og:url" content="https://www.cisocodes.com" />
    <meta property="og:type" content="website" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Ciso Codes — Narciso Lobo" />
    <meta
      name="twitter:description"
      content="Support the launch of an inclusive coding program built for underserved communities."
    />
    <meta
      name="twitter:image"
      content="https://www.cisocodes.com/images/og-preview.jpg"
    />
  </head>
  <body
    class="min-h-screen flex items-center justify-center bg-orange-50 text-gray-900 dark:text-orange-200 dark:bg-gray-900"
  >
    <script src="/scripts/toggle-dark-mode.js" is:inline></script>
    <Header />
    <div class="w-full">
      <slot />
    </div>
  </body>
</html>
